<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>neighborhood-management-service</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th width="20%">neighborhood-management-service</th>
				<th width="20%">url(/management)</th>
				<th width="40%">request</th>
				<th width="20%">response</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>公告列表[置顶在上]</td>
				<td>/announcement/list</td>
				<td>{"current_page":(int), "page_size":(int), "desc_sort":true/false}</td>
				<td>[obj1,obj2,...]</td>
			</tr>
			<tr>
				<td>所有公告的列表</td>
				<td>/announcement/listall</td>
				<td></td>
				<td>[obj1,obj2,...]</td>
			</tr>
			<tr>
				<td>发布公告(ID自增的Integer)</td>
				<td>/announcement/release</td>
				<td>{"a_title":"", "a_content":"", "a_image":"", "a_author":"", "ad_ID":""}</td>
				<td>{"result":"success/error/overdue"}</td>
			</tr>
			<tr>
				<td>查看公告(浏览量自增)</td>
				<td>/announcement/announcedetail</td>
				<td>{"a_ID":a_ID}</td>
				<td>{"a_ID":a_ID, "a_title":a_title ,...}</td>
			</tr>
			<tr>
				<td>更新公告</td>
				<td>/announcement/modify</td>
				<td>{"a_ID":a_ID, "a_title":"", "a_content":"", "a_image":"", "a_author":""}</td>
				<td>{"result":"success"/"error"}</td>
			</tr>
			<tr>
				<td>置顶公告</td>
				<td>/announcement/stick</td>
				<td>{"a_ID":a_ID}</td>
				<td>{"result":"success"/"error"}</td>
			</tr>
			<tr>
				<td>取消置顶</td>
				<td>/announcement/unstick</td>
				<td>{"a_ID":a_ID}</td>
				<td>{"result":"success"/"error"}</td>
			</tr>
			<tr>
				<td>删除公告</td>
				<td>/announcement/delete</td>
				<td>{"a_ID":a_ID}</td>
				<td>{"result":"success"/"error"}</td>
			</tr>
		</tbody>
	</table>
	<table border="1">
		<thead>
			<tr>
				<th width="20%">neighborhood-management-service</th>
				<th width="20%">url</th>
				<th width="40%">request</th>
				<th width="20%">response</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>景点列表分页</td>
				<td>/site/list</td>
				<td>{"current_page":1, "page_size":20}</td>
				<td>[siteobj1][siteobj2]...</td>
			</tr>
			<tr>
				<td>景点全部列表</td>
				<td>/list/listall</td>
				<td></td>
				<td>[siteobj1][siteobj2]...</td>
			</tr>
			<tr>
				<td>模糊搜索景点</td>
				<td>/site/search</td>
				<td>{"sitename":""}</td>
				<td>[siteobj1][siteobj2]...</td>
			</tr>
			<tr>
				<td>名称搜索景点(可能出错,景点重名)</td>
				<td>/site/find</td>
				<td>{"sitename":""}</td>
				<td>{siteobj}</td>
			</tr>
			<tr>
				<td>ID搜索景点(ID - Integer)</td>
				<td>/site/findID</td>
				<td>{"site_ID":}</td>
				<td>{siteobj}</td>
			</tr>
			<tr>
				<td>添加景点</td>
				<td>/site/add</td>
				<td>{"site_name":"","site_time":"","site_address":"","site_type":"","site_ticket": ,"ad_ID":""}</td>
				<td>{"result":"success"/"error"}</td>
			</tr>
			<tr>
				<td>景点图片上传</td>
				<td>/site/image</td>
				<td></td>
				<td>{"result":"success"/"error"}</td>
			</tr>
			<tr>
				<td>更新景点</td>
				<td>/site/update</td>
				<td>{"site_ID":,"site_name":"","site_address":"","site_ticket":,"site_time":"","site_image":"",<br/>"site_intro":"","site_tele":"","site_web":"","site_email":""}</td>
				<td>{"result":"success"/"error"}</td>
			</tr>
			<tr>
				<td>删除景点</td>
				<td>/site/delete</td>
				<td>{"site_ID":}</td>
				<td>{"result":"success"/"error"}</td>
			</tr>
			<tr>
				<td>关闭景点</td>
				<td>/site/close</td>
				<td>{"site_ID":}</td>
				<td>{"result":"success"/"error"}</td>
			</tr>
			<tr>
				<td>更改景点类型</td>
				<td>/site/change</td>
				<td>{"site_ID":,"site_type":""}</td>
				<td>{"result":"success"/"error"}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>